@import 'semantic';

/* My Styles */


/*COLOR
yellow: #fce679
orange: #fdc052
pink: #f58869
red: #f15f51
purple: #3a1f32
*/

body {
  background-color: #fce679;
  border: #fdc052 solid 20px;
}


li {
  font-size: 2em;
  line-height: 1.5em;
  list-style: none;
  color: #f58869;
  text-align: center
}
